package components

templ LazyCompTwo() {
	<lazy-comp-two>
		<div>
			hello from lazy comp two
		</div>
	</lazy-comp-two>
	<script type="module" src="/static/dist/components/lazy_comp_two.js"></script>
}
