package components

templ LazyCompOne() {
	<lazy-comp-one>
		<div>
			hello from lazy comp one
		</div>
	</lazy-comp-one>
	<script type="module" src="/static/dist/components/lazy_comp_one.js"></script>
}
